body{
  background-color: #f0f8f6;
  font-family: 'PT Sans', sans-serif;
}

.acerca-de{
  font-family: 'Dosis', sans-serif;
}

.container{
  background-color: #91CBB9;
}

.escritorio {
  list-style: none; 
  list-style-image: url("https://recursos.mep.go.cr/2020/oscar/traductor/webservices/subidos/imagenes/flecha4.png");
  margin-left: 5px; 
  }

.listaMovil {
  font-size: 10px;
    list-style: none; 
    /* list-style-image: url("https://recursos.mep.go.cr/2020/oscar/traductor/webservices/subidos/imagenes/flecha4.png");  */
    margin-left: 5px; 
}
  
  li::before { 
  /* content: "\2022";  */
 
  padding-right: 8px; 
  color: brown; 
  }

  #barra-superior{
    margin-top: 1%;
    background-image: url("http://localhost/webservices/traductor/triangulo-01.png");
    background-repeat: repeat-x;
  }

  #barra-banner1{
    margin-top: 1%;
  }
  #barra-banner{
    margin-top: 1%;
    background-image: url("http://localhost/webservices/traductor/triangulo2-01.png");
    background-repeat: repeat-x;
  }

 

  #logos_mep{
    z-index: 999999999;
  }
  #logos_mepMovil{
    z-index: 999999999;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;

  }
  #educatico-div{
    margin-top: -8%;
    margin-right: -2.8%;
    margin-left: -2.8%;
    background-color: #EBEBEC;
  }

  #educatico-divMovil{
    margin-right: -2.9%;
    margin-left: -2.9%;
    margin-top: -8%;
    background-color: white;
  }

  #educaticoMovil{
    width: 35%;
  }

  #menu_letras{
    margin-top: 1%;
    z-index: 999999999;
  }

  .div-splash{
    padding-top: 30vh;
    color: darkblue;
  }

  .letrasMovil{
    z-index: 1;
  }

#detalles{
  background-color: white;
  padding: 5%;
  margin-left: -2.875%;
  margin-right: -3.875%;
  height: 38vw;
}

#detallesMovil{
  background-color: white;
  padding-bottom: 2%;
  margin-left: 0%;
  margin-right: 0%;
  height: 128vw;
}

#btn-acercaDe{
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99999;
}

.movil{
  float: right;
  height: 20%;
}

/* .react-multiple-carousel__arrow--left{
  margin-left: -30px;
  z-index: 1000000;
}
.react-multiple-carousel__arrow--right{
  margin-right: -30px;
  z-index: 1000000;
} */


.par{
  font-weight: bold;
  border: none;
  font-size: 1.5vw;
  margin-right: -1px;
  margin-left: -1px;
  height: 56%;
}

.parMovil{
  font-weight: bold;
  border: none;
  font-size: 12vw;
  margin-right: -1px;
  margin-left: -1px;
  height: 90%;
}
.imgMovil{
  width: 75%;
}

.esquina{
  position: absolute;
  margin-left: -101%;
}

.esquinaMovil{
  position: absolute;
  
}
#esquinaSIB{
  position: absolute;
  margin-top: 7%;
  margin-left: 5%;
}

#esquinaID{
  /* position: absolute; */
  float: right;
  bottom: 0px;
  margin-top: -224px;

  margin-right: -32px;
}

#esquinaIDMovil{
  float: right;
  bottom: 0px;
  width: 50%;
  margin-right:-18px;
  margin-top: -118px;
}

.div-palabras{
  overflow-y: scroll;
  /* border: 1px solid red; */
  width:100px;
  float: left;
  height:363px;
  position:relative;
}

.div-palabrasMovil{
  overflow-y: scroll;
  /* border: 1px solid red; */
  width:100px;
  float: left;
  height:423px;
  position:relative;
  padding-left: 0px;
}

#logo-mep{
  float: right;
    bottom: 0px;
    z-index: 9999999999;
  
  
position: absolute;
    bottom: 0px;
    right: 0px;
    
}

#logo-mepMovil{
  float: right;
    z-index: 9999999999;
  height: 150%;
  
position: absolute;
    bottom: 0px;
    right: 0px;
    
}

.barras{
  z-index: 9999999;
}

#esquinaII{
  margin-top: -40%;
}

#A,#C,#E,#J,#L,#N,#O,#S,#U{
  background-color: #93cbb9;
}

.iconos{
    padding-right: 1em;
}

.espanol{
    font-size: 3vw;
    font-weight: bold;
    padding-right: 1em;
}

.espanolMovil{
  font-size: 5vw;
  font-weight: bold;
  padding-top: 1em;
}

#barra_derecha{
  float: right;
margin-top: -125%;
}

.gnabere{
    border-bottom-width: 100px;
    
    display:block;
    font-size: 4vw;
    font-weight: bold;
    border: 2px solid #ca1c1e;
    display: inline-block;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    width: auto;
}

.ico-audio{
  width: 20%;
}

.gnabereMovil{
   
  display:block;
  font-size: 10vw;
  font-weight: bold;
  color: #ca1c1e;
  display: inline-block;
  margin-left: 1px auto;
  margin-top: -16px;
   /* position: relative; */
  width: auto;
}

.gnabere::before,
.gnabere::after {
  content: '';
  position: absolute;
  background: white;
}

.gnabere::before {
  width: calc(100% + 50px + 4px - 120px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#audio-imagen{
  z-index: 999999999999;
}

.gnabere::after {
  height: calc(100% + 50px + 4px - 120px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.gnabere_contenedor{
	text-align:center;	
}

.gnabere span {
    color: brown;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 5;
  }

  .banner{
    width: 100%;
  }

  .lista_terminos{
      color: darkblue;
      font-size: 3vh;
      cursor: pointer;
      padding-left: 0rem;
  }

  
  .lista_terminosMovil{
    list-style: none; 
    color: darkblue;
    font-size: 14px;
    cursor: pointer;
    padding-left: -2rem;
}

  .textos_gnabere{
    font-style: italic;
    font-weight: bolder;
    font-size: 4vh;
  }

  .textos_gnabereMovil{
    margin-top: -14px;
    font-style: italic;
    font-weight: bolder;
    font-size: 3vh;
  }

  .textos_espanol{
    font-style: italic;
    font-weight: bolder;
    font-size: 3vh;
  }

  .textos_espanolMovil{
    margin-top: -12px;
    font-style: italic;
    font-weight: bolder;
    font-size: 2vh;
  }