body{
  background-color: #f0f8f6;
  font-family: 'PT Sans', sans-serif;
}

.container{
  background-color: #91CBB9;
}

ul {
  list-style: none; 
  padding: 0; 
  margin-left: 10px; 
  }
  
  li::before { 
  content: "\2022"; 
  padding-right: 8px; 
  color: brown; 
  }

  #barra-superior{
    margin-top: 1%;
    background-image: url("http://localhost/webservices/traductor/triangulo-01.png");
    background-repeat: repeat-x;
  }

  #barra-banner1{
    margin-top: 1%;
  }
  #barra-banner{
    margin-top: 1%;
    background-image: url("http://localhost/webservices/traductor/triangulo2-01.png");
    background-repeat: repeat-x;
  }

  #educatico{
    margin-top: -24%;
    margin-right: -2.8%;
    margin-left: -2.8%;
  }

  #logos_mep{
    z-index: 999999999;
  }

  #menu_letras
  {margin-top: 1%;
  }

#detalles{
  background-color: white;
  padding: 5%;
  margin-left: -2.875%;
  margin-right: -3.875%;
  height: 42vw;
}

#btn-acercaDe{
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99999;
}

.par{
  font-weight: bold;
  border: none;
  font-size: 1.5vw;
  margin-right: -3px;
  margin-left: -3px;
  height: 56%;
}

.esquina{
  position: absolute;
  margin-left: -101%;
}

#esquinaSIB{
  position: absolute;
  margin-top: 7%;
  margin-left: 5%;
}

#esquinaID{
  /* position: absolute; */
  float: right;
  bottom: 0px;
  height: 41%;
  margin-top: -295px;
  margin-right: -28px;
}

#logo-mep{
  float: right;
    bottom: 0px;
    height: 22%;
    margin-top: -97px;
    margin-right: -95px;
}

#A,#C,#E,#G,#I,#K,#M,#Ñ,#P,#R,#T,#V,#X,#Z{
  background-color: #93cbb9;
}

.iconos{
    padding-right: 1em;
}

.espanol{
    font-size: 3vw;
    font-weight: bold;
    padding-right: 1em;
}

#barra_derecha{
  float: right;
margin-top: -125%;
}

.gnabere{
    border-bottom-width: 100px;
    
    display:block;
    font-size: 4vw;
    font-weight: bold;
    border: 2px solid #ca1c1e;
    display: inline-block;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    width: auto;
}

.gnabere::before,
.gnabere::after {
  content: '';
  position: absolute;
  background: white;
}

.gnabere::before {
  width: calc(100% + 50px + 4px - 120px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.gnabere::after {
  height: calc(100% + 50px + 4px - 120px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.gnabere_contenedor{
	text-align:center;	
}

.gnabere span {
    color: brown;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 5;
  }

  .banner{
    width: 100%;
  }

  .lista_terminos{
      color: darkblue;
      font-size: 3vh;
      cursor: pointer;
      padding-left: 0rem;
  }

  .textos_gnabere{
    font-style: italic;
    font-weight: bolder;
    font-size: 4vh;
  }

  .textos_espanol{
    font-style: italic;
    font-weight: bolder;
    font-size: 3vh;
  }